/*
	Custom Crossbrowser Styling for Checkboxes and Radio Buttons
	------------------------------------------------------------
	created by Martin Ivanov
	http://wemakesites.net
	http://acidjs.wemakesites.net
	http://acidmartin.wordpress.com

	Supported Browsers:
	- Mozilla FireFox
	- Google Chrome
	- Apple Safari
	- Opera
	- Internet Explorer 9

	- Older browsers degrade gracefully displaying browsers' default checkboxes and rad buttons
*/

/* hide the real form element by opacity: 0 and position: absolute - display: block and visibility: hidden do not work because then form elements cannot get the focus and actually get checked or unchecked */
input[type="checkbox"]
{
	position: absolute;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	opacity: 0;
}

/* prevent the entire page from scrolling if there is overflow and checkbox or radio button are clicked */
 label
{
	position: relative;
}

/* fallback for IE6, IE7 and IE8 */
 input[type="checkbox"]
{
	position: static\9;
}

 input[type="checkbox"] + span::before
{
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background-repeat:  no-repeat;
}

 input[type="checkbox"]:checked + span::before
{
	background-position: 0 -20px;
}

/* disabled form elements */
 input[type="checkbox"]:disabled + span,
 input[type="checkbox"]:disabled + span::before
{
	-moz-opacity: .4;
	-webkit-opacity: .4;
	opacity: .4;
}

/* focused and active form elements */
 input[type="checkbox"]:focus + span::before,
 input[type="checkbox"]:active + span::before
{
	outline: dotted 1px #ccc;
}

/* skin-specific sprite */
-mac input[type="checkbox"] + span::before
{
	background-image: url("../images/checkbox_buttons.png");
}